*{
    margin: 0;
    padding: 0;
}
#home-screen{

    width: 100vw;
    height: 100vh;
    background-color: rgb(213, 241, 213);
    text-align: center;
}

#welcome-text{
    padding-top: 5%;
}

#change-bg-color{
    color: rgb(105, 175, 208);
    margin-top: 3%;
}

#Secret-Text {
    position: absolute;
    top: 50%;
    left: 45%;
}

#A-box {
    background-color: magenta;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 43%;
}

#A-box-b {
    background-color: pink;
}
